body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    padding: 0 10%;
}

.romantic-photo {
    width: 100%;
}

.text {
    text-align: justify;
}
